.rodape {
    background-color: var(--ciano-muito-escuro);
    color: var(--branco);
    margin-top: 11em;
    padding: 6em .8em 2em .8em;  
}

.comunidade {
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px rgba(94, 92, 92, 0.116);
    margin: -13em auto 4em;
    max-width: 500px;
    padding: 3em 0em 3.5em 0;
    text-align: center;
}

.comunidade__titulo {
    color: var(--ciano-muito-escuro);
    font-family: var(--titulos);
    font-size: 18px;
    margin-bottom: 2.5em;
    text-transform: capitalize;
}

.comunidade__link {
    color: var(--branco);
    background-color: var(--Rosa);
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.116);
    font-family: var(--titulos);
    font-size: 11px;
    padding: 1.3em 4.5em;
    text-decoration: none;
    text-transform: capitalize;
}

.comunidade__link:hover {
    background-color: var(--rosa-claro);
}

.endereco {
    display: grid;
}

.endereco__logo {
    width: 170px;
}

.endereco__descricao {
    display: flex;
    line-height: 1.5em;
    margin: 1.5em 0;
    width: 95%;
}

.endereco-icone::before {
    content: url(../img/icon-location.svg);
    margin-right: 1.4em;
}

.endereco__telefone, .endereco__email{
    color: var(--branco);
    text-decoration: none;
}

.telefone-icone::before {
    content: url(../img/icon-phone.svg);
    margin-right: 1em;
}

.endereco__email {
    margin: 1.5em 0;
}

.email-icone::before {
    content: url(../img/icon-email.svg);
    margin-right: 1em;
}

.rodape-lista {
    margin: 1.5em 0;
}

.rodape-lista__link {
    color: var(--branco);
    text-decoration: none;
    text-transform: capitalize;
}

.redes-sociais {
    margin: 3em 0em 1.5em;
    text-align: center;
}

.redes-sociais--imagem {
    margin: 0 .5em;
    width: 40px;
}

.copyright {
    font-size: 12px;
    margin-bottom: 2em;
    text-align: center;
}

@media screen and (min-width: 850px) {
    .endereco-container {
        align-items: center;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }

    .endereco {
        margin-left: 6.5em;
    }

    .endereco__logo {
        width: 250px;
    }

    .endereco-icone::before {
        margin-top: .5em;
    }

    .lista-container {
        display: flex;
        justify-content: space-around;
    }

    .rodape-lista__link:hover {
        color: violet;
    }

    .redes-sociais--imagem {
        width: 32px;
    }

    .copyright {
        grid-column: 3;
    }
}

@media screen and (min-width: 1440px) {
    .comunidade {
        max-width: 800px;
    }

    .comunidade__titulo {
        font-size: 30px;
    }

    .comunidade__link {
        border-radius: 40px;
        font-size: 18px;
        padding: 1.5em 6em;
    }
}